@media screen and (max-width:1000px){
    nav{
        width: 110%;
    }
    nav b{
        transform: translateX(-95%);
    }
    nav p{
        width: 45%;
        transform: translateX(-20%);
    }
    nav button{
        transform: translateX(-70%);
    }
    .nav_top p{
        transform: translateX(-200px);
        width: 100%;
        display: none;
    }
    .nav_top b{
        transform: translateX(-100px);
        width: 250%;
        font-size: 10px;
    }
    .nav_top2{
        width: 110%;
    }
    .inp img{
        transform: translateX(-120px);
    }
    .futr0{
        width: 110%;
    }
}
@media screen and (max-width:800px){
    nav p{
        /* width: 4%; */
        display: none;
    }
    nav b{
        width: 30%;
        margin-top: 20px;
        margin-left: 300px;
    }
    .nav_icon i{
        display: block;
        transform: translateX(-80px);

    }
    nav button{
        width: 140px;
    }
    .nav_top b{
        width: 500%;
    }
    .nav_top p{
        display: none;
    }
    nav{
        width: 137%;
    }
    .nav_top2{
        width: 137%;
    }
    .futr0{
        width: 140%;
    }

}
@media screen and (max-width:512px){
    nav{
        width: 144%;
    }
    nav b{
        width: 200%;
        transform: translateX(-250px) translateY(-10px);
        font-size: 17px;
        /* display: none; */
    }
    nav p{
        /* display: block; */
        width: 500%;
    }
    nav button{
        width: 550px;
        height: 5vh;
        display: none;
    }
    .nav_icon i{
        margin-left: 285px;
    }
    .nav_top b{
        width: 500%;
        font-size: 11px;
    }
    .nav_top{
        width: 120%;

        margin-left: 120px;
    }
    .nav_top p{
        display: none;
    }
    .nav_top2{
        width: 144%;
    }
    .inp img{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
        

    }
    .box{
        margin-left: 25%;
    }
    .box1{
        margin-left: 25%;
    }
    .box2{
        margin-left: 25%;
    }
    .box3{
        margin-left: 25%;
    }
    .box4{
        margin-left: 25%;
    }
    .box5{
        margin-left: 25%;
    }
    .box6{
        margin-left: 25%;
    }
    .container1{
        display: none;
    }
    .container3{
        margin-left: 5%;
    }
    .futr0{
        margin-top: 25%;
    }
}
@media screen and (max-width:415px){
    nav{
        width: 245%;
        height: 100px;
    }
    nav b{
        width: 600%;
        font-size: 35px;
        margin-top: 45px;
    }
   .nav_icon i{
    font-size: 60px;
    margin-top: 20px;
   }
   .nav_top b{
    font-size: 17px;
}
.nav_top p{
    display: none;
}

.nav_top{
    width: 180%;
}
.nav_top2{
    width: 245%;
}
.box1{
    transform: translateY(85%) translateX(15%);
}
.box2{
    transform: translateY(165%) translateX(15%);
}
.box3{
    transform: translateY(245%) translateX(15%);
}
.box4{
    transform: translateY(325%) translateX(15%);
}
.box5{
    transform: translateY(403%) translateX(15%);
}
.box6{
    transform: translateY(495%) translateX(15%);
}
.box p{
    font-size: 40px;
}
.box1 p{
    font-size: 40px;
}
.box2 p{
    font-size: 40px;
}
.box3 p{
    font-size: 40px;
}
.box4 p{
    font-size: 40px;
}
.box5 p{
    font-size: 40px;
}
.box6 p{
    width: 100%;
    font-size: 40px;
}

.box b{
    font-size: 25px;
    margin-left: 50%;
}
.box1 b{
    font-size: 25px;
    margin-left: 50%;

}
.box2 b{
    font-size: 25px;
    margin-left: 50%;

}
.box3 b{
    font-size: 25px;
    margin-left: 50%;

}
.box4 b{
    font-size: 25px;
    margin-left: 50%;

}
.box5 b{
    font-size: 25px;
    margin-left: 50%;

}
.box6 b{
    font-size: 25px;
    margin-left: 50%;

}
.box b{
    font-size: 25px;
    margin-left: 50%;

}
.box h3{
    display: none;
}
.box1 h3{
    display: none;
}
.box2 h3{
    display: none;
}
.box3 h3{
    display: none;
}
.box4 h3{
    display: none;
}
.box5 h3{
    display: none;
}
.box6 h3{
    display: none;
}
.box img{
    width: 500px;
    /* height: s; */
}
.box1 img{
    width: 500px;
    /* height: s; */
}
.box2 img{
    width: 500px;
    /* height: s; */
}
.box3 img{
    width: 500px;
    /* height: s; */
}
.box4 img{
    width: 500px;
    /* height: s; */
}
.box5 img{
    width: 500px;
    /* height: s; */
}
.box6 img{
    width: 500px;
    /* height: s; */
}
.izoh{
    width: 160%;
    font-size: 10px;
    transform: translateY(25px)translateX(-26%);
}
.box button{
    width: 140%;
    height: 13vh;
    transform: translateX(-10%) translateY(10%);
    margin-top: 25%;
    font-size: 25px;
}
.box1 button{
    width: 140%;
    height: 13vh;
    transform: translateX(-2%) translateY(10%);
    margin-top: 25%;
    font-size: 25px;
}
.box2 button{
    width: 140%;
    height: 13vh;
    transform: translateX(-3%) translateY(10%);
    margin-top: 25%;
    font-size: 25px;
}
.box3 button{
    width: 140%;
    height: 13vh;
    transform: translateX(-3%) translateY(10%);
    margin-top: 25%;
    font-size: 25px;
}
.box4 button{
    width: 140%;
    height: 13vh;
    transform: translateX(-3%) translateY(10%);
    margin-top: 25%;
    font-size: 25px;
}
.box5 button{
    width: 140%;
    height: 13vh;
    transform: translateX(-3%) translateY(10%);
    margin-top: 25%;
    font-size: 25px;
}
.box6 button{
    width: 140%;
    height: 13vh;
    transform: translateX(-3%) translateY(10%);
    margin-top: 25%;
    font-size: 25px;
}
.futr0{
    transform: translateY(1000%);
    width: 240%;
}
.container3{
    margin-left: 10%;
}
.container3 p{
    font-size: 25px;
}
}
